body {
  margin: 0;
  padding: 0;
  font-family: 'Catamaran', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(0deg, rgba(252, 10, 113, 1) 15%, rgba(251, 61, 97, 1) 30%, rgba(251, 92, 84, 1) 91%);
  min-height: 100vh;
  min-width: 100%;
  text-align: center;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Navbar styling */

.nav {
  background: black;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: height 200ms ease;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 3rem;
  filter: invert(1);
  padding: 1rem;
}

.logo:hover {
  padding: 1rem;
  background: white;
  transition: 300ms ease;
  filter: invert(0);
}

.nav-link:first-child {
  margin-right: auto;
}

.nav-link {
  padding: 31px 30px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.nav-link:not(:first-of-type):hover {
  background-color: white;
  color: black;
  transition: 400ms ease;
}

.icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav .nav-link:not(:first-child) {
    display: none;
  }
  .icon {
    height: 2rem;
    width: 2rem;
    float: right;
    display: block;
    position: absolute;
    right: 2rem;
    top: 1.25rem;
    color: white;
    cursor: pointer;
    font-weight: lighter;
  }
}

@media screen and (max-width: 600px) {
  .navresponsive {
    padding-top: 1rem;
    background: black;
    position: relative;
    height: 13.9rem;
    transition: height 200ms ease;
    overflow: hidden;
  }
  .navresponsive a {
    display: block;
    text-align: left;
  }
}

/* Login/Register styling */

.loginBox {
  text-align: center;
  width: 20rem;
  height: 20rem;
  background: black;
  padding: 30px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 1rem;
}

.header {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.form {
  color: white;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  height: 40px;
}

.submitButton {
  background: #fb3d61;
  border: none;
  border-radius: 3px;
  height: 3rem;
  width: 6rem;
  font-size: 1rem;
  cursor: pointer;
}

.submitButton:hover {
  background: #fc0a71;
  transition: 500ms ease;
}

/* Home page styling */

.catBox, .catBoxOut {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: inline-block;
  text-align: center;
  height: 35rem;
  width: 30rem;
  background: black;
  padding: 20px;
  border-radius: 3px;
}

.catBoxOut {
  animation: 1s slideOut;
}

@keyframes slideOut {
  0% {
    margin-left: 0%;
    opacity: 1;
  }
  25% {
    margin-left: 100%;
    opacity: 0;
  }
  50% {
    margin-left: 0%;
    margin-right: 100%;
    opacity: 0;
  }
  100% {
    margin-right: 0%;
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .catBox {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 25rem;
  }
}

.cat-img {
  height: 20rem;
  border: 1rem solid white;
  background-size: cover !important;
  margin-bottom: 1rem;
}

.name {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.button {
  border: 1px solid white;
  background: black;
  height: 40px;
  width: 100px;
  margin: 5px;
  border-radius: 50px;
  cursor: pointer;
}

.button:hover {
  background: #eee;
  transition: 300ms ease;
}

/* Cat page styling */

.grid {
  display: grid;
  margin: 5rem;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-item {
  background: black;
  padding: 1rem;
  text-align: center;
  border-radius: 3px;
}

@media screen and (max-width: 600px) {
  .grid {
    margin: 1rem;
  }
}